<div class="summary-row flexrow">
    <div class="summary-runes-list flexcol">
        {{> "systems/runequest/templates/actor/parts/actor-partial-skilltable.html" skillcat="agility" skillList=data.skills.agility}}
        {{> "systems/runequest/templates/actor/parts/actor-partial-skilltable.html" skillcat="knowledge" skillList=data.skills.knowledge}}
    </div>
    <div class="summary-runes-list flexcol">
        {{> "systems/runequest/templates/actor/parts/actor-partial-skilltable.html" skillcat="communication" skillList=data.skills.communication}}
        {{> "systems/runequest/templates/actor/parts/actor-partial-skilltable.html" skillcat="magic" skillList=data.skills.magic}}
        {{> "systems/runequest/templates/actor/parts/actor-partial-skilltable.html" skillcat="perception" skillList=data.skills.perception}}    
        {{> "systems/runequest/templates/actor/parts/actor-partial-skilltable.html" skillcat="stealth" skillList=data.skills.stealth}}    
    </div>
    <div class="summary-runes-list flexcol">
        {{> "systems/runequest/templates/actor/parts/actor-partial-skilltable.html" skillcat="manipulation" skillList=data.skills.manipulation}}
        {{> "systems/runequest/templates/actor/parts/actor-partial-skilltable.html" skillcat="meleeweapons" skillList=data.skills.meleeweapons}}
        {{> "systems/runequest/templates/actor/parts/actor-partial-skilltable.html" skillcat="missileweapons" skillList=data.skills.missileweapons}}
        {{> "systems/runequest/templates/actor/parts/actor-partial-skilltable.html" skillcat="shields" skillList=data.skills.shields}}    
        {{> "systems/runequest/templates/actor/parts/actor-partial-skilltable.html" skillcat="naturalweapons" skillList=data.skills.naturalweapons}}    
    </div>
</div>