    <header class="sheet-header section-padding">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
        <div class="header-fields">
            <div class="summary-general-list">
                <table class="general-list-table">
                    <tbody>
                        <tr>
                        <td class="general-list-td" colspan="14">Name:<input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></td>
                        </tr>
                        {{> "systems/runequest/templates/actor/parts/actor-partial-characteristics.html"}}
                        <tr>
                            <td class="characteristic-list-td" colspan="2">Damage Bonus: {{actor.data.data.attributes.damagebonus}}</td>
                            <td class="characteristic-list-td" colspan="1">SIZ SR: {{actor.data.data.attributes.sizsr}}</td>
                            <td class="characteristic-list-td" colspan="2">DEX SR: {{actor.data.data.attributes.dexsr}}</td>
                            <td class="characteristic-list-td" colspan="2">Healing Rate: {{actor.data.data.attributes.healingrate}}</td>
                        </tr>
                        <tr>
                            <td class="characteristic-list-td" colspan="2">
                                <div>
                                    {{localize 'RQG.HP'}}: <input class="resource-input" type="text" name="data.attributes.hitpoints.value" value="{{actor.data.data.attributes.hitpoints.value}}" data-dtype="Number"/>
                                    /
                                    {{actor.data.data.attributes.hitpoints.max}}
                                </div>
                            </td>                         
                            <td class="characteristic-list-td" colspan="2">
                                <div>
                                    {{localize 'RQG.MP'}}: <input class="resource-input" type="text" name="data.attributes.magicpoints.value" value="{{actor.data.data.attributes.magicpoints.value}}" data-dtype="Number"/>
                                    /
                                    {{actor.data.data.attributes.magicpoints.max}}
                                </div>
                            </td>
                            <td class="characteristic-list-td" colspan="3">
                                <div>
                                    {{localize 'RQG.MPSTORAGE'}}: <input class="resource-input" type="text" name="data.attributes.magicpointsreserve.value" value="{{actor.data.data.attributes.magicpointsreserve.value}}" data-dtype="Number"/>
                                    /
                                    {{actor.data.data.attributes.magicpointsreserve.max}}
                                </div>
                            </td>                            
                        </tr>
                        {{#each cults as |cult id|}}
                        <tr>
                            <td class="characteristic-list-td" colspan="14">
                                <li class="item flexrow" data-item-id="{{cult._id}}" data-cultname="{{cult.name}}">
                                    <h4 class="item-name">{{cult.name}}</h4>
                                    <h4 class="item-name">{{cult.data.rank}}</h4>
                                    <h4 class="item-name">{{cult.data.subcult}}</h4>
                                    <h4 class="item-name">{{cult.data.currentrunepoint}} / {{cult.data.maxrunepoint}}</h4>
                                    <div class="item-controls">
                                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    </div>
                                </li>
                            </td>
                        </tr>
                        {{/each}}   
                    </tbody>
                </table>    
            </div> 
        </div>
    </header>