{{!-- Hitlocations and Runes row --}}
<div class="summary-row flexrow">
    <div class="summary-hitlocations-list">
        <table style="height: 70px;" border="2">
        <thead style="height: 28px;">
            <th style="width: 25%; text-align: center; height: 28px;">{{localize "RQG.HitLocations"}}</th>
            <th style="width: 15%; text-align: center; height: 28px;">{{localize "RQG.RANGE"}}</th>
            <th style="width: 15%; text-align: center; height: 28px;">{{localize "RQG.HITPOINTS"}}</th>
            <th style="width: 15%; text-align: center; height: 28px;">{{localize "RQG.MAXHITPOINTS"}}</th>
            <th style="width: 10%; text-align: center; height: 28px;">{{localize "RQG.ARMOR"}}</th>
            <th style="width: 10%; text-align: center;">{{localize "RQG.WOUNDS"}}</th>
        </thead>
        <tbody>
        {{!-- General Wounds Management--}}
        <tr style="height: 28px;" class="item">
            <td style="width: 25%; height: 28px; text-align: center;" colspan="5">{{localize "RQG.GENERALWOUNDS"}}</td>
            <td style="width: 10%; text-align: center;" colspan="1"><input class="attribute-value" type="text" name="data.attributes.generalwounds" value="{{actor.data.data.attributes.generalwounds}}" data-dtype="Number"/></td>
        </tr>                  
        {{#each data.hitlocations as |hl id|}}
            <tr style="height: 28px;" class="item" data-itemid="{{hl._id}}">
                <td style="width: 25%; height: 28px; text-align: center;">{{localize hl.name}}</td>
                <td style="width: 15%; height: 28px; text-align: center;">{{hl.data.data.rangestart}}-{{hl.data.data.rangeend}}</td>
                <td style="width: 15%; height: 28px; text-align: center;"><input id="{{hl._id}}_currenthp" type="text" name="data.currenthp" value="{{hl.data.data.currenthp}}"/></td>
                <td style="width: 15%; height: 28px; text-align: center;">{{hl.data.data.maxhp}}</td>
                <td style="width: 10%; height: 28px; text-align: center;"><input id="{{hl._id}}_armor" class="attribute-value hitloc-armor"  type="text"  name="data.armor"  value="{{hl.data.data.armor}}"  data-dtype="Number"  /></td>
                <td style="width: 10%; text-align: center;"><input id="{{hl._id}}_wounds" class="attribute-value hitloc-wounds"  type="text"  name="data.wounds"  value="{{hl.data.data.wounds}}"  data-dtype="Number"  /></td>
            </tr>        
        {{/each}}
        </tbody>
        </table>
    </div>
    {{!-- Runes --}}
    <div  class="summary-runes-list flexrow">
        <table>
            <thead>
                <th colspan="2"></th>
            </thead>
            <tbody>
                {{#each data.elementalrunes as |elementalrune id|}}
                    <tr class="elemental-rune" data-rune="{{id}}">
                        <td class="elemental-rune" colspan="2"><a class="elementalrunes-roll rollable">{{localize elementalrune.label}}: {{elementalrune.value}}</a><input class="rune-experience" id="{{id}}_{{elementalrune._id}}_rune_experience" type="checkbox" name="data.elementalrunes.{{id}}.experience" {{checked elementalrune.experience}}/></td>
                    </tr>
                {{/each}}
                {{#each data.powerrunes as |powerrunepair pairid|}}
                    <tr data-runepair="{{pairid}}">
                    {{#each powerrunepair as |powerrune runeid|}}
                        <td>
                            <a class="powerrunes-roll" data-rune="{{runeid}}">{{localize powerrune.label}}: {{powerrune.value}}</a>
                            <input class="rune-experience" id="{{id}}_{{powerrune._id}}_rune_experience" type="checkbox" name="data.powerrunes.{{pairid}}.{{runeid}}.experience" {{checked powerrune.experience}}/>
                        </td>
                    {{/each}}
                    </li>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="summary-row flexrow">
    <div class="summary-runes-list flexrow">
        <ol class="skills-list">
            <table data-attacktype="melee">
                <thead>
                    <th>{{localize "RQG.Passions"}}</th>
                    <th><a class="item-control item-create" title="Create item" data-type="passion"><i class="fas fa-plus"></i></a></th>
                </thead>
                <tbody>
                    {{#each data.passions as |passion id|}}
                    <tr class="item flexrow" data-item-id="{{passion._id}}" data-passionname="{{passion.name}}">
                        <td class="summary-attack-label"  colspan="5"><a class="passion-roll" data-item-id="{{passion._id}}">{{passion.name}}</a></td>
                        <td class="summary-attack-value" colspan="1"><a class="passion-roll" data-item-id="{{passion._id}}">{{passion.data.data.total}}</a></td>
                        <td class="item" data-itemid="{{passion._id}}"><input class="passion-experience" id="{{id}}_{{passion._id}}_passion_skill" type="checkbox" name="data.experience" {{checked passion.data.data.experience}}/></td>                         
                        <td class="item-controls" colspan="2">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </td>                        
                    </tr>                
                    {{/each}}
                </tbody>
                </table>
        </ol>        
    </div>
    <div class="summary-runes-list flexrow">
        <ol class="skills-list">
            <table data-attacktype="melee">
                    <thead>
                        <th>{{localize "RQG.Attack"}}</th>
                        <th><a class="item-control item-create" title="Create item" data-type="attack"><i class="fas fa-plus"></i></a></th>
                    </thead>
                    <tbody>
                        <tr class="attack-type-name">
                            <td class="attack-type-name" colspan="10">{{localize "RQG.MeleeAttacks"}}</td>                  
                        </tr>
                        {{#each data.attacks.melee as |attack id|}}
                            <tr class="item flexrow" data-item-id="{{attack._id}}" data-attackname="{{attack.name}}" data-skillcategory="meleeweapons">
                                <td class="summary-attack-label"  colspan="4"><a class="attack-roll">{{attack.name}}</a></td>
                                <td class="summary-attack-value" colspan="1">{{attack.data.data.skillvalue}}</td>
                                <td class="summary-attack-damage" colspan="3">{{attack.data.data.damage}}</td>
                                <td class="item-controls" colspan="2">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </td>                        
                            </tr>
                        {{/each}}
                        <tr class="attack-type-name">
                            <th class="attack-type-name" colspan="10">{{localize "RQG.MissileAttacks"}}</th>                  
                        </tr>
                        {{#each data.attacks.missile as |attack id|}}
                            <tr class="item flexrow" data-item-id="{{attack._id}}" data-attackname="{{attack.name}}" data-skillcategory="meleeweapons">
                                <td class="summary-attack-label"  colspan="4"><a class="attack-roll">{{attack.name}}</a></td>
                                <td class="summary-attack-value" colspan="1">{{attack.data.data.skillvalue}}</td>
                                <td class="summary-attack-damage" colspan="3">{{attack.data.data.damage}}</td>
                                <td class="item-controls" colspan="2">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </td>                        
                            </tr>
                        {{/each}}                         
                        <tr class="attack-type-name">
                            <th class="attack-type-name" colspan="10">{{localize "RQG.NaturalAttacks"}}</th>                  
                        </tr>
                        {{#each data.attacks.natural as |attack id|}}
                            <tr class="item flexrow" data-item-id="{{attack._id}}" data-attackname="{{attack.name}}" data-skillcategory="meleeweapons">
                                <td class="summary-attack-label"  colspan="4"><a class="attack-roll">{{attack.name}}</a></td>
                                <td class="summary-attack-value" colspan="1">{{attack.data.data.skillvalue}}</td>
                                <td class="summary-attack-damage" colspan="3">{{attack.data.data.damage}}</td>
                                <td class="item-controls" colspan="2">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </td>                        
                            </tr>
                        {{/each}}                         
                    </tbody>
            </table>   
        </ol>
    </div>   
    <div class="summary-runes-list flexrow">
        <div class="skills-list">
            {{!-- Defense --}}
            <table>
                <thead>
                    <th>{{localize "RQG.Defense"}}</th>
                </thead>
                <tbody>
                {{#each data.defense as |item id|}}
                    <tr>
                        <td class="skill summary-skill-roll" data-itemid="{{item._id}}" data-skillname="{{item.name}}" data-skillcategory="{{item.data.skillcategory}}">
                            {{item.name}}: {{item.data.data.total}}                     
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>    
</div>