<div class="npc-summary-row flexrow">
    <div class="npc-summary-element flexrow" style="flex:1 0 25%">
        <table class="general-list-table">
            <tbody>
                {{> "systems/runequest/templates/actor/parts/npc-partial-characteristics.html"}}
            </tbody>
        </table>
    </div>
    <div class="npc-summary-element flexrow" style="flex:1 0 25%">
        &nbsp;
    </div>
    <div class="npc-summary-element flexrow" style="flex:1 0 25%">
        &nbsp;        
    </div>
    <div class="npc-summary-element flexrow" style="flex:1 0 25%">
        &nbsp;        
    </div>    
</div>

