{{#if data.flags.locked}}
        {{#each data.characteristics as |characteristic id|}}
        <div class="npc-characteristic-container characteristic" data-characteristic-id="{{id}}" style="flex: 5 0 50%">
            <a class="summary-characteristic-roll">{{localize characteristic.label}}</a>
            <a class="summary-characteristic-roll">{{characteristic.value}}</a>
        </div> 
        {{/each}}       
{{else}}
{{#each data.characteristics as |characteristic id|}}
<div class="npc-characteristic-container characteristic" data-characteristic-id="{{id}}" style="flex: 5 0 50%">
    <a class="summary-characteristic-roll">{{localize characteristic.label}}</a>
    <input  class="attribute-value"  type="text"  name="data.characteristics.{{id}}.base"  value="{{characteristic.base}}"  data-dtype="Number" />
</div> 
{{/each}}  
<!--
    <tr>
        <td class="characteristic-list-td characteristic">&nbsp;</td>
        {{#each data.characteristics as |characteristic id|}}
            <td class="characteristic-list-td characteristic" data-characteristic-id="{{id}}"><a class="summary-characteristic-roll">{{localize characteristic.label}}</a></td>
        {{/each}}
    </tr>
    <tr>
        <td class="characteristic-list-td characteristic">{{localize "RQG.Base"}}</td>
        {{#each data.characteristics as |characteristic id|}}
            <td class="characteristic-list-td characteristic" data-characteristic-id="{{id}}">
                <input  class="attribute-value"  type="text"  name="data.characteristics.{{id}}.base"  value="{{characteristic.base}}"  data-dtype="Number" />
            </td>
        {{/each}}
    </tr>
    <tr>
        <td class="characteristic-list-td characteristic">{{localize "RQG.Modifier"}}</td>
        {{#each data.characteristics as |characteristic id|}}
        <td class="characteristic-list-td characteristic" data-characteristic-id="{{id}}">
            <input  class="attribute-value"  type="text"  name="data.characteristics.{{id}}.modifier"  value="{{characteristic.modifier}}"  data-dtype="Number"  />
        </td>
        {{/each}}
    </tr>
    <tr>
        <td class="characteristic-list-td characteristic">{{localize "RQG.Value"}}</td>
        {{#each data.characteristics as |characteristic id|}}
            <td class="characteristic-list-td characteristic" data-characteristic-id="{{id}}"><a class="summary-characteristic-roll">{{characteristic.value}}</a></td>
        {{/each}}
    </tr>
-->
{{/if}}

