    <header class="grid-sheet-header section-padding">
        <div class="npc-header-img"><img class="character-profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/></div>
        <div class="npc-header-generalinfo flexrow"> <!-- summary-general-list -->
            <div class="npc-header-name">{{localize "RQG.Name"}}:&nbsp;<input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></div>
            <div class="npc-header-age">{{localize 'RQG.Age'}}:<input type="text" name="data.general.age.value" value="{{data.general.age.value}}"/></div>
            <div class="npc-header-gender">{{localize 'RQG.Gender'}}:<input type="text" name="data.general.gender.value" value="{{data.general.gender.value}}"/></div>
            <div class="npc-header-home">{{localize 'RQG.Homeland'}}:<input type="text" name="data.general.homeland.value" value="{{data.general.homeland.value}}"/></div>
            <div class="npc-header-tribe">{{localize 'RQG.Tribe'}}:<input type="text" name="data.general.tribe.value" value="{{data.general.tribe.value}}"/></div>
            <div class="npc-header-clan">{{localize 'RQG.Clan'}}:<input type="text" name="data.general.clan.value" value="{{data.general.clan.value}}"/></div>
            <div class="npc-header-occupation">{{localize 'RQG.Occupation'}}:<input type="text" name="data.general.occupation.value" value="{{data.general.occupation.value}}"/></div>
            <div class="npc-header-reputation">{{localize 'RQG.Reputation'}}:<input type="text" name="data.general.reputation.value" value="{{data.general.reputation.value}}"/></div>
            <div class="npc-header-app">{{localize "RQG.Appearance"}}:<input type="text" name="data.general.appearance" value="{{data.general.appearance}}"/></div>
            <!-- {{> "systems/runequest/templates/actor/parts/actor-partial-characteristics.html"}} -->
        </div>
        <div class="npc-header-cults skill-category" data-type="cult">
            <div class="item-controls npc-cults-plus" style="flex: 1 0 20%;">
                <a class="item-control item-create" title="Create item" data-type="cult"><i class="fas fa-plus"></i></a>
            </div>
            {{#each data.cults as |cult id|}}
                {{#if (lt @index 2)}}
                    <div class="item npc-cults-cult{{@index}} npc-cult-container" data-item-id="{{cult._id}}" data-cultname="{{cult.name}}">
                        <div class="item-name npc-cult-cult">{{localize "RQG.Cult"}}: {{cult.name}}</div>
                        <div class="item-name npc-cult-rank">{{localize "RQG.Rank"}}: {{cult.data.data.rank}}</div>
                        <div class="item-name npc-cult-subcult">{{localize "RQG.Subcult"}}: {{cult.data.data.subcult}}</div>
                        <div class="item-name npc-cult-runepoints">{{localize "RQG.Runepoints"}}: {{cult.data.data.currentrunepoint}} / {{cult.data.data.maxrunepoint}}</div>
                    </div>
                    <div class="item item-controls npc-cults-edit{{@index}}" data-item-id="{{cult._id}}" data-cultname="{{cult.name}}">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                {{/if}}
            {{/each}}      
            <!-- {{> "systems/runequest/templates/actor/parts/actor-partial-characteristics.html"}} -->
        </div>                 
    </header>