<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <div class="summary-general-list">
                <table class="general-list-table">
                    <tbody>
                        <tr>
                        <td class="general-list-td" colspan="14">Name:<input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></td>
                        </tr>
                        <tr>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="strength" colspan="2">{{localize "RQG.STR"}}</td>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="constitution" colspan="2">{{localize "RQG.CON"}}</td>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="size" colspan="2">{{localize "RQG.SIZ"}}</td>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="dexterity" colspan="2">{{localize "RQG.DEX"}}</td>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="intelligence" colspan="2">{{localize "RQG.INT"}}</td>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="power" colspan="2">{{localize "RQG.POW"}}</td>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="charisma" colspan="2">{{localize "RQG.CHA"}}</td>
                        </tr>
                        <tr>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="strength" colspan="2"><a class="summary-characteristic-roll">{{actor.data.characteristics.strength.value}}</a></td>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="constitution" colspan="2"><a class="summary-characteristic-roll">{{actor.data.characteristics.constitution.value}}</a></td>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="size" colspan="2"><a class="summary-characteristic-roll">{{actor.data.characteristics.size.value}}</a></td>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="dexterity" colspan="2"><a class="summary-characteristic-roll">{{actor.data.characteristics.dexterity.value}}</a></td>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="intelligence" colspan="2"><a class="summary-characteristic-roll">{{actor.data.characteristics.intelligence.value}}</a></td>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="power" colspan="2"><a class="summary-characteristic-roll">{{actor.data.characteristics.power.value}}</a></td>
                            <td class="characteristic-list-td characteristic" data-characteristic-id="charisma" colspan="2"><a class="summary-characteristic-roll">{{actor.data.characteristics.charisma.value}}</a></td>
                        </tr>
                        <tr>
                            <td class="characteristic-list-td" colspan="4">Damage Bonus: {{actor.data.attributes.damagebonus}}</td>
                            <td class="characteristic-list-td" colspan="3">SIZ SR: {{actor.data.attributes.sizsr}}</td>
                            <td class="characteristic-list-td" colspan="3">DEX SR: {{actor.data.attributes.dexsr}}</td>
                            <td class="characteristic-list-td" colspan="4">Healing Rate: {{actor.data.attributes.healingrate}}</td>
                        </tr>
                        <tr>
                            <td class="characteristic-list-td" colspan="7">
                                <div>
                                    {{localize 'RQG.HP'}}: <input class="resource-input" type="text" name="data.attributes.hitpoints.value" value="{{data.attributes.hitpoints.value}}" data-dtype="Number"/>
                                    /
                                    {{data.attributes.hitpoints.max}}
                                </div>
                            </td>                         
                            <td class="characteristic-list-td" colspan="7">
                                <div>
                                    {{localize 'RQG.MP'}}: <input class="resource-input" type="text" name="data.attributes.magicpoints.value" value="{{data.attributes.magicpoints.value}}" data-dtype="Number"/>
                                    /
                                    {{data.attributes.magicpoints.max}}
                                </div>
                            </td>  

                        </tr>                        
                        <tr>
                            <td class="characteristic-list-td" colspan="7">
                                <div>
                                    {{localize 'RQG.HP'}}: <input class="resource-input" type="text" name="data.attributes.hitpoints.value" value="{{data.attributes.hitpoints.value}}" data-dtype="Number"/>
                                    /
                                    {{data.attributes.hitpoints.max}}
                                </div>
                            </td>                         
                            <td class="characteristic-list-td" colspan="7">
                                <div>
                                    {{localize 'RQG.MP'}}: <input class="resource-input" type="text" name="data.attributes.magicpoints.value" value="{{data.attributes.magicpoints.value}}" data-dtype="Number"/>
                                    /
                                    {{data.attributes.magicpoints.max}}
                                </div>
                            </td>  
                        </tr>    
                    </tbody>
                </table>    
            </div> 
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="summary">{{localize 'RQG.Summary'}}</a>
        <a class="item" data-tab="skills">{{localize 'RQG.Skills'}}</a>
        <a class="item" data-tab="attributes">{{localize 'RQG.Characteristics'}}</a>
        <a class="item" data-tab="combat">{{localize 'RQG.Combat'}}</a>
        <a class="item" data-tab="magic">{{localize 'RQG.Magic'}}</a>
        <a class="item" data-tab="description">{{localize 'RQG.Description'}}</a>
        <a class="item" data-tab="items">{{localize 'RQG.Items'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Summary Tab --}}
        <div  class="tab summary"  data-group="primary"  data-tab="summary">
            {{> "systems/runequest/templates/actor/parts/actor-summary.html"}}
        </div> 
        {{!-- Magic Tab --}}
        <div  class="tab magic"  data-group="primary"  data-tab="magic">
            {{!-- Spirit Spells --}}
            <ol class="skills-list">          
                <div class="skill-category" data-spelltype="spirit">
                    <li class="item flexrow item-header">
                        <div class="item-name">{{localize 'RQG.SpiritSpell'}}</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="spiritspell"><i class="fas fa-plus"></i></a>
                        </div>
                    </li>
                    {{#each actor.spells.spirit as |spell id|}}
                        <li class="item flexrow" data-item-id="{{spell._id}}" data-spellname="{{spell.name}}">
                            <h4 class="item-name"><a class="spiritspell-roll">{{spell.name}}</a></h4>
                            <h4 class="item-name"><a class="spiritspell-roll">{{spell.data.mpcost}}</a></h4>
                            <input class="experiencecheck" type="checkbox" name="spell.flags.dynamiceffects.alwaysActive" {{checked spell.flags.dynamiceffects.alwaysActive}}/>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </div>
            </ol>
            {{!-- Cults --}}
            <ol class="skills-list">          
                <div class="skill-category" data-type="cult">
                    <li class="item flexrow item-header">
                        <div class="item-name">{{localize 'RQG.Cult'}}</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="cult"><i class="fas fa-plus"></i></a>
                        </div>
                    </li>
                    {{#each actor.cults as |cult id|}}
                        <li class="item flexrow" data-item-id="{{cult._id}}" data-cultname="{{cult.name}}">
                            <h4 class="item-name">{{cult.name}}</h4>
                            <h4 class="item-name">{{cult.data.rank}}</h4>
                            <h4 class="item-name">{{cult.data.subcult}}</h4>
                            <h4 class="item-name">{{cult.data.currentrunepoint}} / {{cult.data.maxrunepoint}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </div>
            </ol>
            {{!-- Rune Spells --}}
            <ol class="skills-list">          
                <div class="skill-category" data-spelltype="rune">
                    <li class="item flexrow item-header">
                        <div class="item-name">{{localize 'RQG.RuneSpell'}}</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="runespell"><i class="fas fa-plus"></i></a>
                        </div>
                    </li>
                    {{#each actor.spells.rune as |spell id|}}
                        <li class="item flexrow" data-item-id="{{spell._id}}" data-spellname="{{spell.name}}" data-rune="{{spell.data.rune}}">
                            <h4 class="item-name"><a class="runespell-roll">{{spell.name}}</a></h4>
                            <h4 class="item-name"><a class="runespell-roll">{{spell.data.points}}</a></h4>
                            <h4 class="item-name"><a class="runespell-roll"><span class="runefont">{{getruneletter spell.data.rune}}</span></a></h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </div>
            </ol>
            {{!-- MP Storage --}}
            <div class="summary-hitlocations-list">
                <table style="height: 70px;" border="2">
                <thead style="height: 28px;">
                    <th style="width: 25%; text-align: center; height: 28px;">{{localize "RQG.NAME"}}</th>
                    <th style="width: 15%; text-align: center; height: 28px;">{{localize "RQG.CURRENTMP"}}</th>
                    <th style="width: 15%; text-align: center; height: 28px;">{{localize "RQG.MAXMP"}}</th>
                    <th style="width: 10%; text-align: center; height: 28px;">{{localize "RQG.EQUIPED"}}</th>
                    <th style="width: 10%; text-align: center; height: 28px;"><a class="item-control item-create" title="Create item" data-type="mpstorage"><i class="fas fa-plus"></i></a></th>
                </thead>
                <tbody>
                {{#each actor.mpstorage as |storage id|}}
                    <tr style="height: 28px;">
                    <td style="width: 25%; height: 28px; text-align: center;">{{localize storage.name}}</td>
                    <td style="width: 15%; height: 28px; text-align: center;"><input id="{{id}}_{{storage._id}}_currentmp_mpstorage" type="text" name="storage.data.currentmp" value="{{storage.data.currentmp}}"/></td>
                    <td style="width: 15%; height: 28px; text-align: center;">{{storage.data.maxmp}}</td>
                    <td style="width: 10%; text-align: center;">{{storage.data.equiped}}</td>
                    </tr>        
                {{/each}}
                </tbody>
                </table>
            </div>
        </div>
        {{!-- Combat Tab --}}
        <div  class="tab combat"  data-group="primary"  data-tab="combat">
            {{> "systems/runequest/templates/actor/parts/actor-combat.html"}}
        </div>
        {{!-- Skills Tab --}}
        <div  class="tab skills"  data-group="primary"  data-tab="skills">
            {{> "systems/runequest/templates/actor/parts/actor-skills.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            <div class="summary-general-list">
                <table class="general-list-table">
                    <tbody>
                        <tr>
                        <td class="general-list-td" colspan="2">{{localize 'RQG.BirthYear'}}: <input type="text" name="data.general.birthyear.value" value="{{data.general.birthyear.value}}"/></td>
                        <td class="general-list-td">{{localize 'RQG.Age'}}:<input type="text" name="data.general.age.value" value="{{data.general.age.value}}"/></td>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.Occupation'}}:<input type="text" name="data.general.occupation.value" value="{{data.general.occupation.value}}"/></td>
                        <td class="general-list-td" colspan="2">{{localize 'RQG.Ransom'}}:<input type="text" name="data.general.ransom.value" value="{{data.general.ransom.value}}"/></td>
                        </tr>
                        <tr>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.Gender'}}:<input type="text" name="data.general.gender.value" value="{{data.general.gender.value}}"/></td>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.Reputation'}}:<input type="text" name="data.general.reputation.value" value="{{data.general.reputation.value}}"/></td>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.StandardofLiving'}}:<input type="text" name="data.general.standardofliving.value" value="{{data.general.standardofliving.value}}"/></td>
                        <td class="general-list-td" colspan="2">{{localize 'RQG.BaseIncome'}}:<input type="text" name="data.general.baseincome.value" value="{{data.general.baseincome.value}}"/></td>
                        </tr>
                        <tr>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.Homeland'}}:<input type="text" name="data.general.homeland.value" value="{{data.general.homeland.value}}"/></td>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.Tribe'}}:<input type="text" name="data.general.tribe.value" value="{{data.general.tribe.value}}"/></td>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.Clan'}}:<input type="text" name="data.general.clan.value" value="{{data.general.clan.value}}"/></td>
                        <td class="general-list-td" colspan="2">{{localize 'RQG.Campaign'}}:<input type="text" name="data.general.campaign.value" value="{{data.general.campaign.value}}"/></td>
                        </tr>
                    </tbody>
                </table>    
            </div> 
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
            {{#each actor.gear as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">{{localize "RQG.Characteristics"}}</span>
                <span class="attribute-value">{{localize "RQG.Base"}}</span>
                <span class="attribute-label">{{localize "RQG.Modifier"}}</span>
                <span class="attribute-dtype">{{localize "RQG.Value"}}</span>
            </header>
            <ol  class="attributes-list">
                {{#each data.characteristics as |characteristic id|}}
                    <li  class="attribute flexrow"  data-attribute="" data-characteristic="{{id}}">
                        <!-- <span  class="attribute-label" name="data.characteristics.{{id}}.label"><a class="characteristic-roll rollable">{{localize characteristic.label}}</a></span> -->
                        <span class="attribute-label characteristic-roll rollable" name="data.characteristics.{{id}}.label">{{localize characteristic.label}}</span>
                        <div  class="attribute-editbox">
                            <input  class="attribute-value"  type="text"  name="data.characteristics.{{id}}.base"  value="{{characteristic.base}}"  data-dtype="Number"  />
                        </div>  
                        <div  class="attribute-editbox">
                            <input  class="attribute-value"  type="text"  name="data.characteristics.{{id}}.modifier"  value="{{characteristic.modifier}}"  data-dtype="Number"  />
                        </div>
                        <span  class="attribute-label" name="data.characteristics.{{id}}.value"><a class="characteristic-roll rollable">{{characteristic.value}}</a></span>  
                    </li>
                {{/each}}
            </ol>
            <ol  class="attributes-list">
                {{#each data.elementalrunes as |elementalrune id|}}
                    <li  class="attribute flexrow"  data-attribute="" data-rune="{{id}}"">
                        <span  class="attribute-label flexrow"  name="data.elementalrunes.{{id}}.label"><a class="elementalrunes-roll">{{localize elementalrune.label}}</a></span>
                        <div  class="attribute-editbox">
                            <input  class="attribute-value"  type="text"  name="data.elementalrunes.{{id}}.value"  value="{{elementalrune.value}}"  data-dtype="Number"  />
                        </div>
                    </li>
                {{/each}}
            </ol>
            <ol  class="attributes-list">
                {{#each data.powerrunes as |powerrunepair pairid|}}
                    <li  class="attribute flexrow"  data-attribute="" data-runepair="{{pairid}}"">
                    {{#each powerrunepair as |powerrune runeid|}}
                        <span  class="attribute-label"  name="data.powerrunes.{{pairid}}.{{runeid}}.label"><a class="powerrunes-roll" data-rune="{{runeid}}">{{localize powerrune.label}}</a></span>
                        <div  class="attribute-editbox">
                            <input  class="attribute-value"  type="text"  name="data.powerrunes.{{pairid}}.{{runeid}}.value"  value="{{powerrune.value}}"  data-dtype="Number"  />
                        </div>
                    {{/each}}
                    </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Flags Tab --}}
        <div class="tab flags" data-group="primary" data-tab="flags">
            <ol class="skills-list">
            {{#each actor.flags as |scope scopekey|}}
                <div class="skill-category" data-skillcategory="{{skillcategory}}">
                    <li class="item flexrow item-header">
                        <div class="item-name">{{scopekey}}</div>
                        <!-- <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="skill" data-skillcategory="{{skillcategory}}"><i class="fas fa-plus"></i></a>
                        </div> -->
                    </li>
                    {{#each scope as |flag flagkey|}}
                        <li class="item flexrow" data-flag-key="{{flagkey}}">
                            <h4 class="item-name">{{flag}}</h4>
                            <!-- <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div> -->
                        </li>
                    {{/each}}
                </div>
            {{/each}}
            </ol>
        </div>

    </section>
</form>

