<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="resource">
                <h3 class="charname">{{localize "HP"}}</h3>
                <input type="text" name="data.attributes.hitpoints.value" value="{{data.attributes.hitpoints.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.attributes.hitpoints.max" value="{{data.attributes.hitpoints.max}}" data-dtype="Number"/>
            </div>
            <div class="resource">
                <h3 class="charname">{{localize "MP"}}</h3>
                <input type="text" name="data.attributes.magicpoints.value" value="{{data.attributes.magicpoints.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.attributes.magicpoints.max" value="{{data.attributes.magicpoints.max}}" data-dtype="Number"/>
            </div>
        </div>
    </header>
    {{log actor.items}}
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="general">General</a>
        <a class="item" data-tab="attributes">Characteristics</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="magic">Magic</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="flags">Flags</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Magic Tab --}}
        <div  class="tab magic"  data-group="primary"  data-tab="magic">
            {{!-- Spirit Spells --}}
            <ol class="skills-list">          
                <div class="skill-category" data-spelltype="spirit">
                    <li class="item flexrow item-header">
                        <div class="item-name">{{localize "Spirit Spell"}}</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="spiritspell"><i class="fas fa-plus"></i></a>
                        </div>
                    </li>
                    {{#each actor.spells.spirit as |spell id|}}
                        <li class="item flexrow" data-item-id="{{spell._id}}" data-spellname="{{spell.name}}">
                            <h4 class="item-name"><a class="spiritspell-roll">{{spell.name}}</a></h4>
                            <h4 class="item-name"><a class="spiritspell-roll">{{spell.data.points}}</a></h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </div>
            </ol>
            {{!-- Rune Spells --}}
            <ol class="skills-list">          
                <div class="skill-category" data-spelltype="rune">
                    <li class="item flexrow item-header">
                        <div class="item-name">{{localize "Rune Spell"}}</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="runespell"><i class="fas fa-plus"></i></a>
                        </div>
                    </li>
                    {{#each actor.spells.rune as |spell id|}}
                        <li class="item flexrow" data-item-id="{{spell._id}}" data-spellname="{{spell.name}}" data-rune="{{spell.data.rune}}">
                            <h4 class="item-name"><a class="runespell-roll">{{spell.name}}</a></h4>
                            <h4 class="item-name"><a class="runespell-roll">{{spell.data.points}}</a></h4>
                            <h4 class="item-name"><a class="runespell-roll">{{spell.data.rune}}</a></h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </div>
            </ol>
        </div>

        {{!-- General Tab --}}
        <div  class="tab general"  data-group="primary"  data-tab="general">
            <ol class="skills-list">
                <li class="item flexrow item-header">
                    <div class="rqg-general">
                        <h3 class="charname">{{localize data.general.birthyear.label}}</h3>
                        <input type="text" name="data.general.birthyear.value" value="{{data.general.birthyear.value}}"/>
                    </div>            
                    <div class="rqg-general">
                        <h3 class="charname">{{localize data.general.age.label}}</h3>
                        <input type="text" name="data.general.age.value" value="{{data.general.age.value}}"/>
                    </div>            
                    <div class="rqg-general">
                        <h3 class="charname">{{localize data.general.occupation.label}}</h3>
                        <input type="text" name="data.general.occupation.value" value="{{data.general.occupation.value}}"/>
                    </div>
                    <div class="rqg-general">
                        <h3 class="charname">{{localize data.general.ransom.label}}</h3>
                        <input type="text" name="data.general.ransom.value" value="{{data.general.ransom.value}}"/>
                    </div>
                    <div class="rqg-general">
                        <h3 class="charname">{{localize data.general.gender.label}}</h3>
                        <input type="text" name="data.general.gender.value" value="{{data.general.gender.value}}"/>
                    </div>
                    <div class="rqg-general">
                        <h3 class="charname">{{localize data.general.homeland.label}}</h3>
                        <input type="text" name="data.general.homeland.value" value="{{data.general.homeland.value}}"/>
                    </div>
                    <div class="rqg-general">
                        <h3 class="charname">{{localize data.general.reputation.label}}</h3>
                        <input type="text" name="data.general.reputation.value" value="{{data.general.reputation.value}}"/>
                    </div>
                    <div class="rqg-general">
                        <h3 class="charname">{{localize data.general.standardofliving.label}}</h3>
                        <input type="text" name="data.general.standardofliving.value" value="{{data.general.standardofliving.value}}"/>
                    </div>
                    <div class="rqg-general">
                        <h3 class="charname">{{localize data.general.tribe.label}}</h3>
                        <input type="text" name="data.general.tribe.value" value="{{data.general.tribe.value}}"/>
                    </div>
                    <div class="rqg-general">
                        <h3 class="charname">{{localize data.general.clan.label}}</h3>
                        <input type="text" name="data.general.clan.value" value="{{data.general.clan.value}}"/>
                    </div>
                    <div class="rqg-general">
                        <h3 class="charname">{{localize data.general.baseincome.label}}</h3>
                        <input type="text" name="data.general.baseincome.value" value="{{data.general.baseincome.value}}"/>
                    </div>
                    <div class="rqg-general">
                        <h3 class="charname">{{localize data.general.campaign.label}}</h3>
                        <input type="text" name="data.general.campaign.value" value="{{data.general.campaign.value}}"/>
                    </div>             
                </li>
            {{!-- Passions --}}
            <li class="item flexrow item-header">         
                <ol class="skills-list">          
                    <div class="skill-category">
                        <li class="item flexrow item-header">
                            <div class="item-name">{{localize "Passions"}}</div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="passion"><i class="fas fa-plus"></i></a>
                            </div>
                        </li>
                        {{#each actor.passions as |passion id|}}
                            <li class="item flexrow" data-item-id="{{passion._id}}" data-passionname="{{passion.name}}">
                                <h4 class="item-name"><a class="passion-roll">{{passion.name}}</a></h4>
                                <h4 class="item-name"><a class="passion-roll">{{passion.total}}</a></h4>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </div>
                </ol>
            </li>
        </div>

        {{!-- Combat Tab --}}
        <div  class="tab combat"  data-group="primary"  data-tab="combat">
            {{!-- Hit Locations --}}
            <ol class="skills-list">          
                <div class="skill-category">
                    <li class="item flexrow item-header">
                        <div class="item-name">{{localize "Hit Locations"}}</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="hitlocation"><i class="fas fa-plus"></i></a>
                        </div>
                    </li>
                    {{#each actor.hitlocations as |hl id|}}
                        <li class="item flexrow" data-item-id="{{hl._id}}">
                            <h4 class="item-name">{{hl.name}}</h4>
                            <div  class="attribute-editbox">
                                <input  class="attribute-value"  type="text"  name="hl.data.hp.value"  value="{{hl.data.hp.value}}"  data-dtype="Number"  />                                
                            </div>
                            /
                            <h4 class="item-name">{{hl.data.hp.max}}</h4>
                            <div  class="attribute-editbox">
                                <input  class="attribute-value"  type="text"  name="hl.data.armor"  value="{{hl.data.armor}}"  data-dtype="Number"  />
                            </div>
                            <div  class="attribute-editbox">
                                <input  class="attribute-value"  type="text"  name="hl.data.wounds"  value="{{hl.data.wounds}}"  data-dtype="Number"  />
                            </div>
                            <h4 class="item-name">{{hl.data.condition}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </div>
            </ol>
            {{!-- Melee Attacks --}}
            <ol class="skills-list">          
                <div class="skill-category" data-attacktype="melee">
                    <li class="item flexrow item-header">
                        <div class="item-name">{{localize "Melee Attacks"}}</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="meleeattack"><i class="fas fa-plus"></i></a>
                        </div>
                    </li>
                    {{#each actor.attacks.melee as |attack id|}}
                        <li class="item flexrow" data-item-id="{{attack._id}}" data-attackname="{{attack.name}}" data-skillcategory="meleeweapons">
                            <h4 class="item-name"><a class="meleeattack-roll">{{attack.name}}</a></h4>
                            <h4 class="item-name">{{attack.data.skillused}}</h4>
                            <label class="skill-value">{{attack.data.modifier}}</label>
                            <h4 class="item-name">{{attack.data.damage}}</h4>
                            <h4 class="item-name">{{attack.data.hpcurrent}} / {{attack.data.hpmax}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </div>
            </ol>
            {{!-- Missile Attacks --}}
            <ol class="skills-list">          
                <div class="skill-category" data-attacktype="missile">
                    <li class="item flexrow item-header">
                        <div class="item-name">{{localize "Missile Attacks"}}</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="missileattack"><i class="fas fa-plus"></i></a>
                        </div>
                    </li>
                    {{#each actor.attacks.missile as |attack id|}}
                        <li class="item flexrow" data-item-id="{{attack._id}}" data-attackname="{{attack.name}}" data-skillcategory="missileweapons">
                            <h4 class="item-name"><a class="missileattack-roll">{{attack.name}}</a></h4>
                            <h4 class="item-name">{{attack.data.skillused}}</h4>
                            <label class="skill-value">{{attack.data.modifier}}</label>
                            <h4 class="item-name">{{attack.data.damage}}</h4>
                            <h4 class="item-name">{{attack.data.hpcurrent}} / {{attack.data.hpmax}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </div>
            </ol>
            {{!-- Natural Attacks --}}
            <ol class="skills-list">          
                <div class="skill-category" data-attacktype="natural">
                    <li class="item flexrow item-header">
                        <div class="item-name">{{localize "Natural Attacks"}}</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="naturalattack"><i class="fas fa-plus"></i></a>
                        </div>
                    </li>
                    {{#each actor.attacks.natural as |attack id|}}
                        <li class="item flexrow" data-item-id="{{attack._id}}" data-attackname="{{attack.name}}" data-skillcategory="meleeweapons">
                            <h4 class="item-name"><a class="naturalattack-roll">{{attack.name}}</a></h4>
                            <h4 class="item-name">{{attack.data.skillused}}</h4>
                            <label class="skill-value">{{attack.data.modifier}}</label>
                            <h4 class="item-name">{{attack.data.damage}}</h4>
                            <h4 class="item-name">{{attack.data.hpcurrent}} / {{attack.data.hpmax}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                </div>
            </ol>
        </div>

        {{!-- Skills Tab --}}
        <div  class="tab skills"  data-group="primary"  data-tab="skills">
            <ol class="skills-list">
                {{#each actor.skills as |skills skillcategory|}}
                    <div class="skill-category" data-skillcategory="{{skillcategory}}">
                        <li class="item flexrow item-header">
                            <div class="item-name">{{skillcategory}}</div>
                            <div class="item-name">
                                <label  class="attribute-value"  type="text"  name="data.skillcategory.{{skillcategory}}.modifier"  value="{{skillcategorymodifier @root.actor.data.skillcategory skillcategory}}"  data-dtype="Number">Modifier: {{skillcategorymodifier @root.actor.data.skillcategory skillcategory}}</label>
                            </div>
                            <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="skill" data-skillcategory="{{skillcategory}}"><i class="fas fa-plus"></i></a>
                            </div>
                        </li>
                        {{#each skills as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}" data-skillname="{{item.name}}" data-skillcategory="{{item.skillcategory}}">
                                <h4 class="item-name"><a class="skill-roll">{{item.name}}</a></h4>
                                <!--
                                <label class="skill-value">{{item.data.base}}</label>
                                <label class="skill-value">{{item.data.increase}}</label>
                                <label class="skill-value">{{item.data.modifier}}</label>
                                -->
                                <a class="skill-roll"><label class="skill-value">{{item.data.total}}</label></a>
                                <input class="experiencecheck" type="checkbox" name="item.data.experience" {{checked item.data.experience}}/>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>                               
                            </li>
                        {{/each}}
                    </div>
                {{/each}}

            </ol>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
            {{#each actor.gear as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">{{localize "Characteristics"}}</span>
                <span class="attribute-value">{{localize "Base"}}</span>
                <span class="attribute-label">{{localize "Modifier"}}</span>
                <span class="attribute-dtype">{{localize "Value"}}</span>
            </header>
            <ol  class="attributes-list">
                {{#each data.characteristics as |characteristic id|}}
                    <li  class="attribute flexrow"  data-attribute="" data-characteristic="{{id}}">
                        <!-- <span  class="attribute-label" name="data.characteristics.{{id}}.label"><a class="characteristic-roll rollable">{{localize characteristic.label}}</a></span> -->
                        <span class="attribute-label characteristic-roll rollable" name="data.characteristics.{{id}}.label">{{localize characteristic.label}}</span>
                        <div  class="attribute-editbox">
                            <input  class="attribute-value"  type="text"  name="data.characteristics.{{id}}.base"  value="{{characteristic.base}}"  data-dtype="Number"  />
                        </div>  
                        <div  class="attribute-editbox">
                            <input  class="attribute-value"  type="text"  name="data.characteristics.{{id}}.modifier"  value="{{characteristic.modifier}}"  data-dtype="Number"  />
                        </div>
                        <span  class="attribute-label" name="data.characteristics.{{id}}.value"><a class="characteristic-roll rollable">{{characteristic.value}}</a></span>  
                    </li>
                {{/each}}
            </ol>
            <ol  class="attributes-list">
                {{#each data.elementalrunes as |elementalrune id|}}
                    <li  class="attribute flexrow"  data-attribute="" data-rune="{{id}}"">
                        <span  class="attribute-label flexrow"  name="data.elementalrunes.{{id}}.label"><a class="elementalrunes-roll">{{localize elementalrune.label}}</a></span>
                        <div  class="attribute-editbox">
                            <input  class="attribute-value"  type="text"  name="data.elementalrunes.{{id}}.value"  value="{{elementalrune.value}}"  data-dtype="Number"  />
                        </div>
                    </li>
                {{/each}}
            </ol>
            <ol  class="attributes-list">
                {{#each data.powerrunes as |powerrunepair pairid|}}
                    <li  class="attribute flexrow"  data-attribute="" data-runepair="{{pairid}}"">
                    {{#each powerrunepair as |powerrune runeid|}}
                        <span  class="attribute-label"  name="data.powerrunes.{{pairid}}.{{runeid}}.label"><a class="powerrunes-roll" data-rune="{{runeid}}">{{localize powerrune.label}}</a></span>
                        <div  class="attribute-editbox">
                            <input  class="attribute-value"  type="text"  name="data.powerrunes.{{pairid}}.{{runeid}}.value"  value="{{powerrune.value}}"  data-dtype="Number"  />
                        </div>
                    {{/each}}
                    </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Flags Tab --}}
        <div class="tab flags" data-group="primary" data-tab="flags">
            {{log actor.flags}}
            <ol class="skills-list">
            {{#each actor.flags as |scope scopekey|}}
                {{log scopekey}}
                {{log scope}}
                <div class="skill-category" data-skillcategory="{{skillcategory}}">
                    <li class="item flexrow item-header">
                        <div class="item-name">{{scopekey}}</div>
                        <!-- <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="skill" data-skillcategory="{{skillcategory}}"><i class="fas fa-plus"></i></a>
                        </div> -->
                    </li>
                    {{#each scope as |flag flagkey|}}
                        <li class="item flexrow" data-flag-key="{{flagkey}}">
                            <h4 class="item-name">{{flag}}</h4>
                            <!-- <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div> -->
                        </li>
                    {{/each}}
                </div>
            {{/each}}
            </ol>
        </div>

    </section>
</form>

