<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    {{> "systems/runequest/templates/actor/parts/actor-sheetheader.html"}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="summary">{{localize 'RQG.Summary'}}</a>
        <a class="item" data-tab="skills">{{localize 'RQG.Skills'}}</a>
        <a class="item" data-tab="herosoul">{{localize 'RQG.HEROSOUL'}}</a>
        <a class="item" data-tab="attributes">{{localize 'RQG.Characteristics'}}</a>
        <a class="item" data-tab="combat">{{localize 'RQG.Combat'}}</a>
        <a class="item" data-tab="magic">{{localize 'RQG.Magic'}}</a>
        <a class="item" data-tab="description">{{localize 'RQG.Description'}}</a>
        <a class="item" data-tab="items">{{localize 'RQG.Items'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Summary Tab --}}
        <div  class="tab summary"  data-group="primary"  data-tab="summary">
            {{> "systems/runequest/templates/actor/parts/actor-summary.html"}}
        </div> 
        {{!-- Magic Tab --}}
        <div  class="tab magic"  data-group="primary"  data-tab="magic">
            {{> "systems/runequest/templates/actor/parts/actor-magic.html"}}
        </div>
        <div  class="tab summary"  data-group="primary"  data-tab="herosoul">
            {{> "systems/runequest/templates/actor/parts/actor-herosoul.html"}}
        </div>         
        {{!-- Combat Tab --}}
        <div  class="tab combat"  data-group="primary"  data-tab="combat">
            {{> "systems/runequest/templates/actor/parts/actor-combat.html"}}
        </div>
        {{!-- Skills Tab --}}
        <div  class="tab skills"  data-group="primary"  data-tab="skills">
            {{> "systems/runequest/templates/actor/parts/actor-skills.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            <div class="summary-general-list">
                <table class="general-list-table">
                    <tbody>
                        <tr>
                        <td class="general-list-td" colspan="2">{{localize 'RQG.BirthYear'}}: <input type="text" name="data.general.birthyear.value" value="{{data.general.birthyear.value}}"/></td>
                        <td class="general-list-td">{{localize 'RQG.Age'}}:<input type="text" name="data.general.age.value" value="{{data.general.age.value}}"/></td>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.Occupation'}}:<input type="text" name="data.general.occupation.value" value="{{data.general.occupation.value}}"/></td>
                        <td class="general-list-td" colspan="2">{{localize 'RQG.Ransom'}}:<input type="text" name="data.general.ransom.value" value="{{data.general.ransom.value}}"/></td>
                        </tr>
                        <tr>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.Gender'}}:<input type="text" name="data.general.gender.value" value="{{data.general.gender.value}}"/></td>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.Reputation'}}:<input type="text" name="data.general.reputation.value" value="{{data.general.reputation.value}}"/></td>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.StandardofLiving'}}:<input type="text" name="data.general.standardofliving.value" value="{{data.general.standardofliving.value}}"/></td>
                        <td class="general-list-td" colspan="2">{{localize 'RQG.BaseIncome'}}:<input type="text" name="data.general.baseincome.value" value="{{data.general.baseincome.value}}"/></td>
                        </tr>
                        <tr>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.Homeland'}}:<input type="text" name="data.general.homeland.value" value="{{data.general.homeland.value}}"/></td>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.Tribe'}}:<input type="text" name="data.general.tribe.value" value="{{data.general.tribe.value}}"/></td>
                        <td class="general-list-td" colspan="3">{{localize 'RQG.Clan'}}:<input type="text" name="data.general.clan.value" value="{{data.general.clan.value}}"/></td>
                        <td class="general-list-td" colspan="2">{{localize 'RQG.Campaign'}}:<input type="text" name="data.general.campaign.value" value="{{data.general.campaign.value}}"/></td>
                        </tr>
                    </tbody>
                </table>    
            </div> 
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
            {{#each actor.gear as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">{{localize "RQG.Characteristics"}}</span>
                <span class="attribute-value">{{localize "RQG.Base"}}</span>
                <span class="attribute-label">{{localize "RQG.Modifier"}}</span>
                <span class="attribute-dtype">{{localize "RQG.Value"}}</span>
            </header>
            <ol  class="attributes-list">
                {{#each data.characteristics as |characteristic id|}}
                    <li  class="attribute flexrow"  data-attribute="" data-characteristic="{{id}}">
                        <!-- <span  class="attribute-label" name="data.characteristics.{{id}}.label"><a class="characteristic-roll rollable">{{localize characteristic.label}}</a></span> -->
                        <span class="attribute-label characteristic-roll rollable" name="data.characteristics.{{id}}.label">{{localize characteristic.label}}</span>
                        <div  class="attribute-editbox">
                            <input  class="attribute-value"  type="text"  name="data.characteristics.{{id}}.base"  value="{{characteristic.base}}"  data-dtype="Number"  />
                        </div>  
                        <div  class="attribute-editbox">
                            <input  class="attribute-value"  type="text"  name="data.characteristics.{{id}}.modifier"  value="{{characteristic.modifier}}"  data-dtype="Number"  />
                        </div>
                        <span  class="attribute-label" name="data.characteristics.{{id}}.value"><a class="characteristic-roll rollable">{{characteristic.value}}</a></span>  
                    </li>
                {{/each}}
            </ol>
            <ol  class="attributes-list">
                {{#each data.elementalrunes as |elementalrune id|}}
                    <li  class="attribute flexrow"  data-attribute="" data-rune="{{id}}"">
                        <span  class="attribute-label flexrow"  name="data.elementalrunes.{{id}}.label"><a class="elementalrunes-roll">{{localize elementalrune.label}}</a></span>
                        <div  class="attribute-editbox">
                            <input  class="attribute-value"  type="text"  name="data.elementalrunes.{{id}}.value"  value="{{elementalrune.value}}"  data-dtype="Number"  />
                        </div>
                    </li>
                {{/each}}
            </ol>
            <ol  class="attributes-list">
                {{#each data.powerrunes as |powerrunepair pairid|}}
                    <li  class="attribute flexrow"  data-attribute="" data-runepair="{{pairid}}"">
                    {{#each powerrunepair as |powerrune runeid|}}
                        <span  class="attribute-label"  name="data.powerrunes.{{pairid}}.{{runeid}}.label"><a class="powerrunes-roll" data-rune="{{runeid}}">{{localize powerrune.label}}</a></span>
                        <div  class="attribute-editbox">
                            <input  class="attribute-value"  type="text"  name="data.powerrunes.{{pairid}}.{{runeid}}.value"  value="{{powerrune.value}}"  data-dtype="Number"  />
                        </div>
                    {{/each}}
                    </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Flags Tab --}}
        <div class="tab flags" data-group="primary" data-tab="flags">
            <ol class="skills-list">
            {{#each actor.flags as |scope scopekey|}}
                <div class="skill-category" data-skillcategory="{{skillcategory}}">
                    <li class="item flexrow item-header">
                        <div class="item-name">{{scopekey}}</div>
                        <!-- <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="skill" data-skillcategory="{{skillcategory}}"><i class="fas fa-plus"></i></a>
                        </div> -->
                    </li>
                    {{#each scope as |flag flagkey|}}
                        <li class="item flexrow" data-flag-key="{{flagkey}}">
                            <h4 class="item-name">{{flag}}</h4>
                            <!-- <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div> -->
                        </li>
                    {{/each}}
                </div>
            {{/each}}
            </ol>
        </div>

    </section>
</form>

