<form class="skill-test">
  <div class="form-group">
    <label>{{localize "RQG.Charname"}}</label>
    <input readonly type="text" name="charname" value="{{charname}}" />
  </div>
  <div class="form-group">
    <label>{{localize "RQG.Charvalue"}}</label>
    <input readonly type="text" name="charvalue" value="{{charvalue}}" />
  </div>
  <div class="form-group">
    <label>{{localize "RQG.Difficultymodifier"}}</label>
    <select name="difficultymultiplier">
      {{#select difficultymultiplier}}
      <option value="0.5">{{localize "RQG.Nearlyimpossible"}} - x0.5 </option>
      <option value="1">{{localize "RQG.Veryhard"}} - x1</option>
      <option value="2">{{localize "RQG.Hard"}} - x2</option>
      <option value="3">{{localize "RQG.Moderate"}} - x3</option>
      <option value="4">{{localize "RQG.Easy"}} - x4</option>
      <option value="5">{{localize "RQG.Simpleaction"}} - x5</option>
      {{/select}}
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "RQG.Modifier"}}</label>
    <input type="text" name="testmodifier" value="{{testmodifier}}" />
  </div>
</form>