<form class="skill-test">
  <div class="form-group">
    <label>{{localize "RQG.Skillname"}}</label>
    <input readonly type="text" name="skillname" value="{{skillname}}" />
  </div>
  <div class="form-group">
    <label>{{localize "RQG.Skillvalue"}}</label>
    <input readonly type="text" name="skillvalue" value="{{skillvalue}}" />
  </div>
  <div class="form-group">
    <label>{{localize "RQG.Catmodifier"}}</label>
    <input readonly type="text" name="catmodifier" value="{{catmodifier}}" />
  </div>
  <div class="form-group">
    <label>{{localize "RQG.Modifier"}}</label>
    <input type="text" name="testmodifier" value="{{testmodifier}}" />
  </div>
</form>