@font-face {
  font-family: AtlantisRegular;
  src: url("./fonts/AtlantisRegular.ttf");
}
@font-face {
  font-family: RunequestRunes;
  src: url("./fonts/RQ.TTF");
}
.rqg .runefont {
  font-family: 'RunequestRunes';
}
.rqg {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
  font-family: 'Verdana';
}
.rqg .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: scroll;
  background-image:url("./backgrounds/old-brown-paper-texture-image.jpg");
  background-size: cover;
}
.rqg header.sheet-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 200px;
  overflow: scroll;
  margin-bottom: 10px;
  font-size:12px;
  align-items:flex-start;
}
input[type="text"]
{
  width: calc(100% - 2px);
  min-width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
  margin: 0;
  color: #191813;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  border: 1px solid #7a7971;
  border-radius: 3px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.rqg .sheet-header .profile-img {
  flex: 0 0 150px;
  height: 150px;
  margin-right: 10px;
}
.rqg .sheet-header .header-fields {
  flex: 1 0 72%;
  height: 150px;
}
.rqg .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.rqg .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.rqg .resource {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}
.rqg .rqg-general {
  margin-top: 10px;
  float: left;
  text-align: center;
}
.rqg .resource input {
  width: 100px;
  height: 28px;
}
.rqg .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.rqg .tabs .item {
  line-height: 40px;
  font-weight: bold;
  font-size:12px;
}
.rqg .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.rqg .sheet-body {
  overflow: scroll;
}
.rqg .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.rqg .editor,
.rqg .editor-content {
  height: 400px;
}
.rqg .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.rqg .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.rqg .items-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.rqg .items-list .item-name {
  margin: 0;
}
.rqg .items-list .item-controls {
  flex: 0 0 36px;
}
.rqg .attributes-header {
  padding: 5px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}
.rqg .attributes-header .attribute-label {
  flex: 1.5;
}
.rqg .attributes-header .attribute-control {
  flex: 0 0 20px;
}
.rqg .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.rqg .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}
.rqg .attributes-list a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.rqg.sheet.actor {
  min-width: 700px;
  min-height: 500px;
}
.rqg.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
.rqg .runequest-roll-button{
  content: url(../icons/runes/luck.png);
  max-height: 100%;
  max-width: 100%;
  width: auto;
  flex: initial;
  font-size: xx-large;
}

.rqg .skills-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: bold;
  width:100%;
}
.rqg .summary-second-row {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: bold;
}
.rqg .skills-list .item {
  height: auto;
  /*line-height: 24px;*/
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  justify-content: flex-end;
}
.rqg .skills-list .item img {
  flex: 0 0 24px;
  margin-right: 10px;
}
.rqg .skills-list .item-name {
  margin-left: 5px;
  flex: 4 4 100px;
}
.rqg .skills-list .attack-type-name {
  margin-left: 5px;
  text-align: center;
}
.rqg .elemental-rune {
  margin-left: 5px;
  text-align: center;
}
.rqg .skills-list .item-controls {
  flex: 0 0 36px;
  margin-left: 5px;
}
.rqg .skills-list .skill-value{
  flex: 0 0 30px;
  margin-left: 5px;
}
.rqg .skills-list .skill-name{
  flex: 4 4 100px;
  margin: 35px;
}
.rqg .skills-list .skill-category{
  max-height: 100%;
  max-width: 100%;
  width: 50%;
  flex: 4 1 250px;
  border-style: double;
}
.rqg .characteristics-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 10px;  
}
.rqg .characteristics-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}
.rqg .summary-characteristic-list {
  /* font-family: AtlantisRegular; */
  list-style: none;
  margin: 0px;
  padding: 2px;
  border: 2px solid rgb(8, 8, 8);
  width:20%;    
}
.rqg .summary-characteristics-label {
  flex: 2;
}
.rqg .summary-characteristics-value {
  flex: 1;
}
.rqg .summary-characteristics-li {
  margin: 0 3px;
  height: 28px;
  width: 100%;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}
.rqg .summary-meleeattack-list {
  /* font-family: AtlantisRegular; */
  font-size:14px;
  list-style: none;
  margin: 2px;
  padding: 2px;
  width:90%;
  margin-bottom: 10px;
  border: 2px solid rgb(8, 8, 8);  
}
.rqg .summary-meleeattack-list .item {
  height: auto;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  justify-content: flex-end;
}
.rqg .summary-passions-list {
  /* font-family: AtlantisRegular; */
  font-size:14px;
  list-style: none;
  margin: 2px;
  padding: 2px;
  width:90%;
  margin-bottom: 10px;
  border: 2px solid rgb(8, 8, 8);  
}
.rqg .summary-passions-list .item {
  height: auto;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  justify-content: flex-end;
}
.rqg .summary-naturalattack-list {
  /* font-family: AtlantisRegular; */
  font-size:14px;
  list-style: none;
  margin: 2px;
  padding: 2px;
  width:90%;
  margin-bottom: 10px;
  border: 2px solid rgb(8, 8, 8);  
}
.rqg .summary-naturalattack-list .item {
  height: auto;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  justify-content: flex-end;
}
.rqg .summary-attack-label {
  flex: 1;
}
.rqg .summary-attack-value {
  flex: 1;
}
.rqg .summary-attack-damage {
  flex: 1;
}
.rqg .summary-runes-label {
  flex: 2;
}
.rqg .summary-runes-value {
  flex: 1;
}
.rqg .summary-runes-li {
  margin: 0 3px;
  height: 28px;
  width: 100%;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}
.rqg .summary-runes-list {
  /* font-family: AtlantisRegular; */
  list-style: none;
  margin: 2px;
  padding: 2px;
  border: 2px solid rgb(8, 8, 8);
  flex:1,0,auto;    
}
.rqg .summary-hitlocations-list {
  /* font-family: AtlantisRegular; */
  list-style: none;
  margin: 2px;
  padding: 2px;
  border: 2px solid rgb(8, 8, 8);    
  flex:1,0,auto;    
}
.rqg .summary-powerrunes-list {
  /* font-family: AtlantisRegular; */
  font-size:14px;
  list-style: none;
  margin: 2px;
  padding: 2px;
  width:50%;
  border: 2px solid rgb(8, 8, 8);    
}
.rqg .summary-missileattack-list {
  /* font-family: AtlantisRegular; */
  font-size:14px;
  list-style: none;
  margin: 2px;
  padding: 2px;
  width:90%;
  margin-bottom: 10px;
  border: 2px solid rgb(8, 8, 8);  
}
.rqg .summary-skill-label {
  flex: 2;
}
.rqg .summary-skill-value {
  flex: 1;
}
.rqg .summary-skill-list {
  /* font-family: AtlantisRegular; */
  font-size:12px;
  list-style: none;
  margin: 2px;
  padding: 2px;
  width:20%;
  margin-bottom: 10px;
  border: 2px solid rgb(8, 8, 8);  
}
.rqg .summary-skill-list .item {
  height: auto;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  justify-content: flex-end;
}
.rqg .characteristic-list-table {
  width: 100%;
  height: 70px;
  border: none;
}
.rqg .characteristic-list-thead {
  height: 30px;
  text-align: left;
  font-family: 'PT Sans',sans-serif;
  border: none;
}
.rqg .characteristic-list-th {
  height: 30px;
  text-align: left;
  font-family: 'PT Sans',sans-serif;
  border: none;
}
.rqg .characteristic-list-td {
  width: 12.5%;
  border: none;
}
.rqg .general-list-table {
  width: 80%;
  height: 70px;
  border: none;
}
.rqg .general-list-thead {
  height: 30px;
  text-align: left;
  font-family: 'PT Sans',sans-serif;
  border: none;
}
.rqg .general-list-th {
  height: 30px;
  text-align: left;
  font-family: 'PT Sans',sans-serif;
  border: none;
}
.rqg .general-list-td {
  width: 12.5%;
  border: none;
}
.rqg .summary-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.rqg .skill-category-table {
  width: 92%;
  border: 2px solid green;
  margin: 0.5em 0.5em;
  font-size:10px;
  font-weight: 900;  
}
.rqg .resource-input {
  width: 40px;
  height: 18px;
}
.rqg .runesbanner {
  font-family: 'RunequestRunes';
}
.rqg .section-padding {
  padding: 10px;
}
.invisible {
  display: none;
}
.hitlocationname {
  text-align: center;
  /*height: 28px;*/
}
.hitlocationlockedfield {
  text-align: center;
  /*height: 28px;*/
}
.hitlocationtable {
  /*height: 70px;*/
  border: 1px solid;
}
.generalwoundname {
  width: 85%;
  text-align: center;
  flex: 4 0 200px;  
  /*height: 28px;*/
}
.generalwounds {
  text-align: center;
  /*height: 28px;*/
}
.hitlocationunlockedfield {
  text-align: center;
  /*height: 28px;*/
}
.combat-defense-table {
  width:100%;
  /*height: 70px;*/
  border: 1px solid;
}
.combat-defense-field {
  text-align: center;
  /*height: 28px;*/
}
